<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
  <script defer src="{{url_for('static', filename='js/base.js')}}"></script>
  {% block head %}{% endblock %}
</head>
<body>
  <div id="top-bar">
    <div id="logo">AB PLayer</div>
    <div id="window-controls">
      {% block window_controls %}{% endblock %}
      <button class="line-btn" onclick="pywebview.api.minimize_app()"><span></span></button>
      <button id="win_fullscreen_btn" class="window-btn" onclick="pywebview.api.toggle_full_screen_app()"><span></span></button>
      <button class="cross-btn" onclick="pywebview.api.close_app()"><span></span></button>
    </div>
  </div>

  <div id="central-frame">
    <div id="side-menu">
      <div>
        <div id="menu-btn" class="menu-btn" onclick="toggleMenu()"><span>скрыть меню</span></div>
        <hr>
        <div id="library-btn" class="menu-btn"><span>мои книги</span></div>
        <div id="favorite-btn" class="menu-btn"><span>избранные</span></div>
        <div id="add-book-btn" class="menu-btn"><span>новая книга</span></div>
      </div>
      <div>
        <div id="library-dir-btn" class="menu-btn"><span>папка с книгами</span></div>
        <div id="settings-btn" class="menu-btn"><span>настройки</span></div>
      </div>
    </div>
    <div id="content-frame">
      {% block body %}{% endblock %}
    </div>
  </div>

  <div class="size-grip corner-grip" data-place="top-left"></div>
  <div class="size-grip corner-grip" data-place="top-right"></div>
  <div class="size-grip corner-grip" data-place="bottom-right"></div>
  <div class="size-grip corner-grip" data-place="bottom-left"></div>
  <div class="size-grip side-grip" data-place="left"></div>
  <div class="size-grip side-grip" data-place="top"></div>
  <div class="size-grip side-grip" data-place="right"></div>
  <div class="size-grip side-grip" data-place="bottom"></div>
</body>
</html>