<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        {% if dark_theme %}
        <link
            class="theme"
            rel="stylesheet"
            href="{{url_for('static', filename='css/dark_theme.css')}}"
        />
        {% else %}
        <link
            class="theme"
            rel="stylesheet"
            href="{{url_for('static', filename='css/light_theme.css')}}"
        />
        {% endif %}
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/base.css')}}"
        />
        <script>
            var menu_opened = {{ is_main_menu_opened|tojson }}
            var filter_menu_opened = {{ is_filter_menu_opened|tojson }}
            var required_drivers = {{ [] if not required_drivers else required_drivers|tojson }}
            var lang = {{ lang|tojson }}
            var dark_theme = {{ (true if dark_theme else false)|tojson }}
            var last_volume = {{ volume|tojson }}
            var last_speed = {{ speed|tojson }}
            var last_listened_book_bid = {{ last_listened_book_bid|tojson }}
            var only_stable = {{ only_stable|tojson }}
            var stable_version = {{ stable_version|tojson }}
        </script>
        <script type="module" src="/static/js/plyr/plyr.js"></script>
    </head>
    <body>
        <div id="top-bar">
            <div id="logo">AB PLayer</div>
            <div id="window-controls">
                <button
                    class="icon-btn line-btn"
                    onclick="pywebview.api.minimize_app()"
                ></button>
                <button
                    id="win_fullscreen_btn"
                    class="icon-btn window-btn"
                    onclick="pywebview.api.toggle_full_screen_app()"
                ></button>
                <button
                    class="icon-btn cross-btn"
                    onclick="pywebview.api.close_app()"
                ></button>
            </div>
        </div>

        <div id="central-frame">
            <div
                id="side-menu"
                class="{{ 'collapsed' if not is_main_menu_opened else '' }}"
            >
                <div>
                    <div
                        id="menu-btn"
                        class="iconned-btn"
                        onclick="toggleMenu()"
                    >
                        <span>{{ gettext('base.hide_menu') }}</span>
                    </div>
                    <hr />
                    <div
                        id="library-btn"
                        class="iconned-btn"
                        onclick="openLibraryPage(false)"
                    >
                        <span>{{ gettext("base.library") }}</span>
                    </div>
                    <div
                        id="favorite-btn"
                        class="iconned-btn"
                        onclick="openLibraryPage(true)"
                    >
                        <span>{{ gettext("base.favorite") }}</span>
                    </div>
                    <div
                        id="add-book-btn"
                        class="iconned-btn"
                        onclick="page('search-page').show()"
                    >
                        <span>{{ gettext("base.search_book") }}</span>
                    </div>
                    <div
                        id="downloads-btn"
                        class="iconned-btn"
                        onclick="page('downloads-page').show()"
                    >
                        <span>{{ gettext("base.downloads") }}</span>
                    </div>
                </div>
                <div>
                    <div
                        id="licensed-btn"
                        class="iconned-btn"
                        onclick="page('licensed-page').show()"
                    >
                        <span>{{ gettext("base.licensed") }}</span>
                    </div>
                    <div
                        id="library-dir-btn"
                        class="iconned-btn"
                        onclick="openLibraryDir()"
                    >
                        <span>{{ gettext("base.books_folder") }}</span>
                    </div>
                    <div
                        id="settings-btn"
                        class="iconned-btn"
                        onclick="page('settings-page').show()"
                    >
                        <span>{{ gettext("base.settings") }}</span>
                    </div>
                </div>
            </div>
            <div id="content-frame">
                <div id="small-player">
                    <div>
                        <div
                            class="icon-btn small-playback-control play"
                            onclick="player.togglePlay()"
                        ></div>
                        <div class="book-info">
                            <div class="book-title"></div>
                            <div class="listening-progres"></div>
                        </div>
                    </div>
                    <div>
                        <div id="volume-btn" class="icon-btn volume-btn"></div>
                        <input
                            id="volume-input"
                            type="range"
                            min="0"
                            max="100"
                            value="{{ volume|tojson }}"
                            data-postfix="%"
                            oninput="setVolume(this.value)"
                        />
                        <div id="speed-btn" class="icon-btn speed-btn"></div>
                        <input
                            id="speed-input"
                            type="range"
                            min="0.1"
                            max="2"
                            value="{{ speed|tojson }}"
                            step="0.1"
                            data-prefix="x"
                            oninput="setSpeed(this.value)"
                        />
                    </div>
                </div>
                <div class="page" id="library-page">
                    {% include "library.html" %}
                </div>
                <div class="page" id="search-page">
                    {% include "search.html" %}
                </div>
                <div class="page" id="downloads-page">
                    {% include "downloads.html" %}
                </div>
                <div class="page" id="book-page">{% include "book.html" %}</div>
                <div class="page" id="settings-page">
                    {% include "settings.html" %}
                </div>
                <div class="page" id="licensed-page">
                    {% include "licensed.html" %}
                </div>
            </div>
        </div>

        <div id="notifications"></div>

        <div class="size-grip corner-grip" data-place="top-left"></div>
        <div class="size-grip corner-grip" data-place="top-right"></div>
        <div class="size-grip corner-grip" data-place="bottom-right"></div>
        <div class="size-grip corner-grip" data-place="bottom-left"></div>
        <div class="size-grip side-grip" data-place="left"></div>
        <div class="size-grip side-grip" data-place="top"></div>
        <div class="size-grip side-grip" data-place="right"></div>
        <div class="size-grip side-grip" data-place="bottom"></div>

        <script>
            {% include "js/base.js" %}
        </script>
        <script>
            {% include "js/settings.js" %}
        </script>
        <script>
            {% include "js/book.js" %}
        </script>
        <script>
            {% include "js/library.js" %}
        </script>
        <script>
            {% include "js/downloads.js" %}
        </script>
        <script>
            {% include "js/search.js" %}
        </script>
        <script>
            {% include "js/licensed.js" %}
        </script>
    </body>
</html>
