<script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/book.css')}}">
<script defer src="{{url_for('static', filename='js/book.js')}}"></script>

<div id="book-page-content">

<div id="book-loading"></div>

<div id="book-header">
  <div>
    <div class="book-title">BOOK TITLE</div>
    <div class="book-state">
      <div class="book-listening-progress">X% listened</div>
      <div class="book-adding-date">Добавлена date</div>
    </div>
  </div>
  <div class="book-actions" style="display: none">
    <div class="icon-btn toggle-favorite-btn"></div>
    <div class="icon-btn delete-btn"></div>
    <div class="icon-btn download-btn"></div>
    <div class="icon-btn remove-btn"></div>
  </div>
</div>
<div id="book-player">
  <div class="book-preview"></div>
  <div id="player">
    <audio id="audio-player"></audio>
    <div id="player-controls">
      <div class="button-group">
        <div class="iconned-btn button angle-left-button" onclick="rewind()"><span>15 c</span></div>
        <div id="toggle-playback-btn" class="iconned-btn button play-button" onclick="togglePlayback(this)"></div>
        <div class="iconned-btn right button angle-right-button" onclick="forward()"><span>15 c</span></div>
      </div>
      <div id="items-container"></div>
    </div>
    <div id="player-downloading">Дождитесь окончания скачивания книги</div>
    <div id="player-downloading-required">
      Онлайн прослушивание пока что недоступно<br>
      Скачайте книгу, чтобы начать прослушивание
      <div id="download-book-btn" class="button">Скачать</div>
    </div>
  </div>
</div>
<div id="book-info">
  <div class="book-additional-info">
    <div class="book-author">author</div>
    <div class="book-reader">reader</div>
    <div class="book-duration">duration</div>
    <div class="book-series">series name (X)</div>
    <div class="book-driver">driver</div>
  </div>
</div>
<div class="book-description">description</div>

</div>
