<link rel="stylesheet" href="{{url_for('static', filename='css/library.css')}}">
<script defer src="{{url_for('static', filename='js/library.js')}}"></script>

<div id="library-page-content">

<div id="filter-menu" class="{{ 'collapsed' if not is_filter_menu_opened else '' }}">
  <div id="filter-menu-toggle-btn" onclick="toggleFilterMenu()"></div>
  <div id="filters-container">
    <div id="search-in-library-input-line" class="input-line">
      <input placeholder="найти в библиотеке" oninput="searchBooksInLibrary()">
      <button class="icon-btn search-btn"></button>
    </div>
    <div id="reverse-checkbox" class="checkbox" onclick="toggleReverse()">в обратном порядке</div>
    <div id="filter-by-sections">
      <div id="authors-section-btn" class="filter-by-section-btn">Авторы</div>
      <div id="authors-section" class="filter-by-section"></div>
      <div id="series-section-btn" class="filter-by-section-btn">Циклы</div>
      <div id="series-section" class="filter-by-section"></div>
    </div>
  </div>
</div>

<div id="library">
  <div id="library-title">Библиотека</div>
  <div id="library-sections">
    <div id="library-sections-buttons">
      <div id="all-books-section-btn" class="section-button" onclick="section('all-books-section').show()">все</div>
      <div id="new-books-section-btn" class="section-button" onclick="section('new-books-section').show()">новые</div>
      <div id="in-progress-books-section-btn" class="section-button" onclick="section('in-progress-books-section').show()">в процессе</div>
      <div id="listened-books-section-btn" class="section-button" onclick="section('listened-books-section').show()">прослушанные</div>
    </div>
    <div id="library-sections-container" onscrollend="onLibraryScrollEnd(this)">
      <div id="all-books-section" class="books-section"></div>
      <div id="new-books-section" class="books-section"></div>
      <div id="in-progress-books-section" class="books-section"></div>
      <div id="listened-books-section" class="books-section empty"></div>
    </div>
  </div>
</div>

</div>

