#book-page {
    width: 100%;
    height: 100%;
}
#book-loading {
    background-image: url(../images/loading.gif);
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: absolute;
    background-color: var(--central-frame-bg);
    z-index: 5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4em;
}

#book-page-content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 16px);
    margin: 8px;
}
#book-page ::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

#book-page .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: fit-content;
}
#book-page .header .book-state-btn::before {
    background-image: url(../images/angle_down.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    cursor: pointer;
}
#book-page .book-state-action {
    z-index: 2;
    position: absolute;
    top: 100%;
    background-color: var(--cards-bg);
    padding: 5px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
}
#book-page .book-state-action.showen {
    display: flex;
}
#book-page .book-state-action::before {
    background-image: url(../images/check.svg);
}
#book-page .book-state-action.completed::before {
    background-image: url(../images/book.svg);
}
#book-page .header .book-actions {
    align-items: center;
}
#book-page .header .book-actions > * {
    margin-left: 6px;
    margin-right: 6px;
}

#book-page .book-title {
    font-size: x-large;
}

#book-page .book-cover {
    min-height: 220px;
    max-height: 220px;
    min-width: 159px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#book-page #book-main {
    display: flex;
    width: 100%;
    max-height: 220px;
    margin-top: 16px;
}
#book-page #book-main .content {
    flex: 1;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

#book-page #sources {
    height: 100%;
    border: 2px dashed var(--ui-element-bg);
    border-radius: 4px;
}
#book-page #sources > div {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    padding: 0 16px;
    margin: 8px 0;
}
#book-page #sources:not(:has(.sources-container:empty)) > div:first-child {
    border-right: 2px solid var(--ui-element-bg);
}
#book-page #sources > div:has(.sources-container:empty) {
    display: none;
}
#book-page #sources .sources-container-title {
    font-size: large;
    font-weight: bold;
}
#book-page #sources .sources-container {
    margin-top: 8px;
    gap: 1px;
    display: flex;
    flex-direction: column;
    height: 0;
    flex: 1 1 auto;
    overflow-y: auto;
    padding-right: 8px;
}
#book-page #sources .source-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 8px;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}
#book-page #sources .source-card:hover {
    background-color: var(--ui-element-bg);
}
#book-page #sources .source-card .source-info {
    display: flex;
}
#book-page #sources .source-card .source-title {
    font-weight: bold;
}

#book-page #player-controls {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#book-page #player-controls .button-group {
    display: flex;
}
#book-page #player-controls > div {
    width: 100%;
}
#book-page #chapters-container {
    flex: 1;
    margin-top: 10px;
    border: 2px solid var(--ui-element-bg);
    border-radius: 4px;
    overflow: auto;
    box-sizing: border-box;
}
#book-page #chapters-container::-webkit-scrollbar {
    background: var(--ui-element-bg);
}
#book-page #chapters-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
}
#book-page .angle-left-button::before,
#book-page .angle-right-button::after {
    background-size: auto;
}
#book-page #player-controls .button:hover {
    transform: none;
}
#book-page #player-controls .button::before,
#book-page #player-controls .button::after {
    transition: transform 0.15s ease-in-out;
}
#book-page #player-controls .button:hover::before,
#book-page #player-controls .button:hover::after {
    transform: scale(1.4);
}
#book-page .angle-left-button::before {
    background-image: url(../images/angle_left.svg);
}
#book-page .angle-right-button::after {
    background-image: url(../images/angle_right.svg);
}

#book-page .chapter {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--ui-element-bg);
    cursor: pointer;
}
#book-page .chapter > span {
    z-index: 2;
    padding: 7px;
    pointer-events: none;
}
#book-page .chapter > .title {
    max-width: 80%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
#book-page .chapter.current {
    background-color: var(--ui-element-bg);
}
#book-page .chapter.current::before {
    content: "";
    z-index: 1;
    position: absolute;
    height: 100%;
    width: var(--current-item-percents);
    background-color: var(--dim-fg);
}

#book-page #book-info {
    margin-top: 16px;
    width: 100%;
}

/*
GLOBAL BOOK STYLES
*/

.book-title {
    font-size: larger;
    font-weight: bold;
    line-height: 1;
}

.book-description.full {
    display: block;
    height: 0;
    flex: 1 1 auto;
    margin-top: 8px;
    word-break: break-word;
    overflow-y: scroll;
}
.book-description.short {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.book-actions {
    display: flex;
}
.book-actions > * {
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
}
.book-actions > *:not(:first-child) {
    margin-left: 6px;
}
.book-actions > *:not(:last-child) {
    margin-right: 6px;
}
.book-actions > *:hover:not(.disabled)::after {
    transform: scale(1.1);
}
.book-actions > *:active:not(.disabled) {
    margin-bottom: -4px;
}
.book-actions .icon-btn::after {
    width: 1.5em;
    height: 1.5em;
    transition: background-image 0.15s ease-in-out;
    transform-origin: center;
}
.book-actions .icon-btn.toggle-favorite::after {
    background-image: url(../images/star.svg);
}
.book-actions .icon-btn.toggle-favorite.active::after {
    background-image: url(../images/star_fill.svg);
}
.book-actions .icon-btn.download::after {
    background-image: url(../images/download.svg);
}
.book-actions .icon-btn.remove::after {
    background-image: url(../images/cross.svg);
}
.book-actions .icon-btn.delete::after {
    background-image: url(../images/trash.svg);
}
.book-actions .icon-btn.open-in-browser::after {
    background-image: url(../images/box-arrow-up-right.svg);
}
.book-actions .icon-btn.search-series::after {
    background-image: url(../images/tag.svg);
}
.book-actions .icon-btn.open-book-dir::after {
    background-image: url(../images/folder.svg);
}

.tags-container {
    display: flex;
    text-wrap: nowrap;
    flex-wrap: wrap;
    font-size: small;
}
.tags-container > .tag {
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.tags-container > .tag::before {
    max-width: 1em;
    max-height: 1em;
    min-width: 1em;
    min-height: 1em;
    margin-right: 4px;
}
.tag:empty {
    display: none;
}
.tag .content {
    margin-left: 4px;
}
.tag.adding-date::before {
    content: url(../images/calendar.svg);
}
.tag.text-sources-count::before {
    content: url(../images/book.svg);
}
.tag.audio-sources-count::before {
    content: url(../images/mic.svg);
}
.tag.author::before {
    content: url(../images/person.svg);
}
.tag.series::before {
    content: url(../images/tag.svg);
}
.tag.narrator::before {
    content: url(../images/mic.svg);
}
.tag.publication::before {
    content: url(../images/book.svg);
}
.tag.duration::before {
    content: url(../images/clock.svg);
}
.tag.status::before {
    content: url(../images/tag.svg);
}
.tag.progress::before {
    content: url(../images/clock.svg);
}
.tag.driver::before {
    content: url(../images/hdd.svg);
}
