.playback-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 10px 0 10px;
}
.playback-btn.play::before {
    background-image: url(../images/play.svg);
}
.playback-btn.pause::before {
    background-image: url(../images/pause.svg);
}

#player {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    max-height: 55px;
    height: 55px;
    order: 2;
    background-color: var(--side-menu-bg);
}
/*#player.visible ~ .page {
    max-height: calc(100% - 65px);
}*/
/*#small-player.visible ~ .page #book-page-content .book-description {
    max-height: 22%;
}*/
#player > div {
    height: 100%;
    display: flex;
    align-items: center;
}
#player > div > *:not(:first-child) {
    margin-left: 5px;
}
#player .icon-btn::after {
    width: 1.5em;
    height: 1.5em;
    transition: background-image 0.15s ease-in-out;
    transform-origin: center;
}
#player .playback-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
#player .playback-btn::after {
    width: 80%;
    height: 80%;
    opacity: 0.9;
}
#player .book-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}
#player .volume-btn::after {
    content: url(../images/volume.svg);
}
#player .volume-btn.muted::after {
    content: url(../images/mute.svg);
}
#player .volume-btn.low::after {
    content: url(../images/low_volume.svg);
}
#player .volume-btn.medium::after {
    content: url(../images/medium_volume.svg);
}
#player .speed-btn::after {
    content: url(../images/watch.svg);
}
#player #volume-input,
#player #speed-input {
    width: 0;
    transition: all 0.1s ease-in-out;
}
#player #volume-input.showed,
#player #speed-input.showed {
    width: 80px;
}
