#search-page {
    width: 100%;
    height: 100%;
}

#search-page-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-label {
    font-size: large;
    font-weight: bold;
}
#search-input-line-container {
    min-width: 40vw;
    margin: 10px;
}
#search-input-line {
    width: 100%;
    font-size: medium;
}

#no-search-result {
    height: 0;
    overflow: hidden;
    align-content: center;
    transition: all 0.2s ease-in-out;
}
#search-results-container {
    width: 100%;
    height: 0;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    margin-right: -4px;
    margin-left: -4px;
    container-type: inline-size;
    container-name: results-container;
    transition: all 0.2s ease-in-out;
}
#search-results-container.shown:not(:empty) {
    flex: 1 1 auto;
}
#search-results-container.shown:empty ~ #no-search-result {
    flex: 1 1 auto;
}
@container results-container (min-width: 740px) {
    .search-result-item {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}
@container results-container (min-width: 1000px) {
    .search-result-item {
        flex: 0 0 33% !important;
        max-width: 33% !important;
    }
}
@container results-container (min-width: 1260px) {
    .search-result-item {
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }
}

#search-page .search-result-item {
    position: relative;
    width: 100%;
    height: fit-content;
    flex: 0 0 100%;
    max-width: 100%;
}
#search-page .search-result-item-card {
    max-height: 100px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: flex;
    margin: 0 4px 8px 8px;
    padding: 8px;
    background-color: var(--cards-bg);
    border-radius: 4px;
}
#search-page .search-result-item-card > :not(:first-child) {
    margin-left: 8px;
}
#search-page .item-cover {
    min-height: 100px;
    min-width: 70px;
    border-radius: 4px;
    background-size: cover;
    background-image: none;
}
#search-page .item-title {
    font-size: large;
    font-weight: bold;
}
#search-page .item-info {
    display: flex;
    flex-flow: wrap;
    margin-top: 4px;
}
#search-page .item-info > * {
    display: flex;
    align-items: center;
    margin-right: 8px;
    font-size: small;
}
#search-page .item-info > *::before {
    min-height: 1.2em;
    min-width: 1.2em;
    max-height: 1.2em;
    max-width: 1.2em;
    margin-right: 4px;
}
#search-page .item-author::before {
    content: url(../images/person.svg);
}
#search-page .item-narrators::before {
    content: url(../images/mic.svg);
}
#search-page .item-narrators:empty {
    display: none;
}
#search-page .item-publications::before {
    content: url(../images/book.svg);
}
#search-page .item-durations::before {
    content: url(../images/clock.svg);
}
#search-page .item-series-name:empty {
    display: none;
}
#search-page .item-series-name::before {
    content: url(../images/tag.svg);
}

#search-page .add-book-btn {
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    top: 0;
    right: 4px;
    max-width: 1.1em;
    padding: 4px 4px 10px 10px;
    background-color: var(--ui-element-bg);
    color: transparent;
    border-bottom-left-radius: 25px;
    font-size: 1.2em;
    overflow: hidden;
    opacity: 0;
    transition:
        all 0.2s ease-in-out,
        color 0.2s cubic-bezier(1, 0, 0, 1);
}
#search-page .search-result-item-card:hover ~ .add-book-btn,
#search-page .add-book-btn.added:hover,
#search-page .add-book-btn.loading {
    opacity: 1;
}
#search-page .add-book-btn:not(.added):not(.loading):hover {
    opacity: 1;
    border-bottom-left-radius: 15px;
    max-width: 100%;
    color: inherit;
}
#search-page .add-book-btn::after {
    position: absolute;
    right: 4px;
    background-image: url(../images/plus.svg);
}
#search-page .add-book-btn.loading::after {
    background-image: url(../images/loading.gif);
}
#search-page .add-book-btn.added::after {
    background-image: url(../images/check.svg);
}
#search-page .add-book-btn span {
    color: inherit;
    font-weight: bold;
    text-wrap: nowrap;
    margin-right: 1.2em;
    transition: color 0.1s cubic-bezier(0, 0.9, 0, 0);
}
