* {
  color: var(--root-fg);
  font-family: Arial;
  user-select: none;
}

html, body {margin: 0; height: 100%; background-color: var(--root-bg)}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: var(--root-bg);
}

@keyframes text-slide {
  0%, 20% {left: 0%}
  80%, 100% {left: calc(-100%)}
}
.text-slider {
  position: absolute;
  animation-name: text-slide;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.input-line {display: flex}
.input-line input, .input-line button {
  border: none;
  outline: none;
  background-color: var(--ui-element-bg);
  padding: 5px;
  font-size: inherit;
}
.input-line input {
  width: inherit;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.input-line .tools {display: flex}
.input-line .tools > :first-child {
  border-left: solid 1px var(--dim-fg);
}
.input-line .tools > :last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all .15s ease-in-out;
}
.icon-btn::after {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  background-size: cover;
}
.icon-btn.loading::after {background-image: url(../images/loading.svg)}

.checkbox {position: relative; display: flex}
.checkbox::before {
  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  margin-right: 4px;
  background-image: url(../images/square.svg);

}
.checkbox.checked::after {
  content: "";
  display: block;
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: 0;
  margin-top: 0.2em;
  margin-left: 0.2em;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/check.svg);
}

.button {
  background-color: var(--ui-element-bg);
  padding: 8px;
  border: 1px solid var(--side-menu-bg);
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
}
.button:hover {transform: scale(1.05);}
.button:active {transform: translateY(1px)}

.iconned-btn {
  display: flex;
  padding: 10px 10px;
  border-radius: 5px;
  color: var(--dim-fg);
  cursor: pointer;
}
.iconned-btn > span {
  text-wrap: nowrap;
  color: inherit;
  transition: color .0s linear;
}
.iconned-btn::before, .iconned-btn::after {
  height: 1em;
  min-width: 1.2em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.iconned-btn:not(.right) > span {margin-left: 10px}
.iconned-btn:not(.right)::before {content: ""}
.iconned-btn.right > span {margin-right: 10px}
.iconned-btn.right::after {content: ""}

.button-group {display: flex}

#top-bar {
  height: 20px;
  background-color: var(--root-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4px;
}
#logo {
  color: var(--dim-fg);
  font-size: 10px;
  font-weight: bold;
}
#window-controls {height: 100%}
#top-bar button {height: 100%}
#top-bar button::after {width: 10px; height:10px}
.cross-btn::after {background: url(../images/cross.svg)}
.window-btn::after {background: url(../images/window.svg)}
.line-btn::after {background: url(../images/line.svg)}
#top-bar button:hover {background-color: var(--root-hover-bg)}
#top-bar button.cross-btn:hover {background-color: rgb(255,49,100)}

#central-frame {
  display: flex;
  height: calc(100% - 20px);
}
#side-menu {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  max-width: 100%;
  text-wrap: nowrap;
  font-weight: bold;
  font-size: large;
  transition: max-width .15s ease-in-out;
}
#side-menu.collapsed {max-width: 60px;}
#side-menu > div {margin-top: 10px; margin-bottom: 10px}

#side-menu.collapsed span {
  color: transparent;
  transition: color .15s cubic-bezier(0.8, 0.05, 1, -0.24);;
}
#side-menu .iconned-btn {
  margin: 2px 10px;
}
#side-menu .iconned-btn:hover {
  background-color: var(--root-hover-bg);
}

#side-menu hr {
  border-radius: 10%;
  height: 3px;
  border: none;
  background: var(--dim-fg);
  margin: 10px 16px 10px 16px;
}

#menu-btn::before {content: url(../images/hide_menu.svg)}
#side-menu.collapsed #menu-btn::before {content: url(../images/menu.svg)}
#library-btn::before {content: url(../images/book.svg)}
#favorite-btn::before {content: url(../images/star_fill.svg)}
#add-book-btn::before {content: url(../images/plus.svg)}
#downloads-btn::before {content: url(../images/download.svg)}
#library-dir-btn::before {content: url(../images/folder.svg)}
#settings-btn::before {content: url(../images/settings.svg)}

#content-frame {
  width: 100%;
  height: 100%;
  background-color: var(--central-frame-bg);
  border-top-left-radius: 10px;
  overflow: hidden;
}

#notifications {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  padding: 8px;
}
.notification {
  position: relative;
  background-color: var(--ui-element-bg);
  border-radius: 4px;
  padding: 4px;
  width: 300px;
  margin-top: 8px;
  margin-top: 8px;
}
.notification-content {margin-right: calc(0.8em + 8px)}
.notification .cross-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}
.notification .cross-btn::after {
  width: 0.8em;
  height: 0.8em;
  background-repeat: no-repeat;
  background-position: center;
}

.size-grip {
  position: absolute;
  width: 8px;
  height: 8px;
}
.corner-grip {z-index: 1001}
.corner-grip[data-place="top-left"] {
  top: 0; cursor: nw-resize
}
.corner-grip[data-place="top-right"] {
  top: 0; right: 0; cursor: ne-resize
}
.corner-grip[data-place="bottom-right"] {
  bottom: 0; right: 0; cursor: nw-resize
}
.corner-grip[data-place="bottom-left"] {
  bottom: 0; cursor: ne-resize
}
.side-grip {z-index: 1000}
.side-grip[data-place="left"] {
  top: 0; height: 100%; cursor: e-resize
}
.side-grip[data-place="top"] {
  top: 0; width: 100%; cursor: n-resize
}
.side-grip[data-place="right"] {
  top: 0; right: 0; height: 100%; cursor: e-resize
}
.side-grip[data-place="bottom"] {
  bottom: 0; width: 100%; cursor: n-resize
}
