#downloads-page {
    width: 100%;
    height: 100%;
}

#downloads-page-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 8px;
    margin-left: 8px;
}

#downloads-title {
    font-size: large;
    font-weight: bold;
}
#downloads-container {
    overflow-y: auto;
    margin-top: 8px;
    padding-right: 8px;
    height: calc(95% - 8px);
}
#downloads-container #no-downloads {
    width: fit-content;
    top: 45%;
    left: 40%;
    position: relative;
}
#downloads-container:has(.download-card) #no-downloads {
    display: none;
}
.download-card {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-radius: 4px;
    padding: 8px;
    padding-bottom: 12px;
    background-color: var(--cards-bg);
    overflow: hidden;
}
.cancel-btn::after {
    background-image: url(../images/cross.svg);
}
.cancel-btn.loading::after {
    background-image: url(../images/loading.gif);
}
.progress-info {
    display: flex;
    width: 250px;
    text-wrap: nowrap;
    flex-wrap: wrap;
}
.progress-info > div {
    flex: 1;
}
.progress-bar {
    position: absolute;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: var(--dim-fg);
}
