<link rel="stylesheet" href="{{url_for('static', filename='css/book.css')}}" />
<script defer src="{{ url_for('static', filename='js/book.js') }}"></script>

<div id="book-page-content">
    <div id="book-loading"></div>

    <div class="header">
        <div>
            <div class="book-title"></div>
            <div class="tags-container">
                <div class="tag status"></div>
                <div class="tag progress"></div>
                <div
                    class="book-state-btn"
                    onclick="showBookStateAction()"
                ></div>
                <div class="book-state-action"></div>
                <div class="tag adding-date">
                    {{ gettext("book.added") }} <span class="content"></span>
                </div>
            </div>
        </div>
        <div class="book-actions">
            <div class="icon-btn delete"></div>
            <div class="icon-btn download"></div>
            <div
                class="icon-btn open-in-browser hidden-text-button"
                onclick="window.open(this.dataset.url, '_blank')"
            >
                <span>открыть в браузере</span>
            </div>
            <div class="icon-btn search-series hidden-text-button">
                <span>перейти к циклу</span>
            </div>
            <div class="icon-btn open-book-dir hidden-text-button">
                <span>показать файлы</span>
            </div>
            <div class="icon-btn toggle-favorite"></div>
        </div>
    </div>
    <div id="book-main">
        <div class="book-cover"></div>
        <div id="sources" class="content">
            <div id="audio-sources">
                <div class="sources-container-title">
                    {{ gettext("book.audio_sources") }}
                </div>
                <div class="sources-container"></div>
            </div>
            <div id="text-sources">
                <div class="sources-container-title">
                    {{ gettext("book.text_sources") }}
                </div>
                <div class="sources-container"></div>
            </div>
        </div>
        <div id="player-controls" class="content">
            <div class="button-group">
                <div
                    class="iconned-btn button angle-left-button"
                    onclick="rewind()"
                >
                    <span>15 {{ gettext("s") }}</span>
                </div>
                <div
                    class="iconned-btn button playback-btn play"
                    onclick="togglePlayback()"
                ></div>
                <div
                    class="iconned-btn right button angle-right-button"
                    onclick="forward()"
                >
                    <span>15 {{ gettext("s") }}</span>
                </div>
            </div>
            <div id="chapters-container"></div>
        </div>
    </div>
    <div id="book-info">
        <div class="tags-container">
            <div class="tag author"></div>
            <div class="tag narrator"></div>
            <div class="tag publication"></div>
            <div class="tag duration"></div>
            <div class="tag series"></div>
            <div class="tag driver"></div>
        </div>
    </div>
    <div class="book-description full"></div>
</div>

<template id="source-card-template">
    <div class="source-card">
        <div>
            <div class="source-title"></div>
            <div class="source-info tags-container">
                <div class="source-domain tag driver"></div>
                <div class="source-duration tag duration"></div>
                <div class="source-status tag status"></div>
            </div>
        </div>
        <div class="icon-btn open-in-browser"></div>
    </div>
</template>
<template class="book-status" data-status="new">
    {{ gettext("book.status.new") }}
</template>
<template class="book-status" data-status="in_progress">
    {{ gettext("book.status.in_progress") }}
</template>
<template class="book-status" data-status="completed">
    {{ gettext("book.status.completed") }}
</template>
<template class="book-progress" data-source="audio">
    {{ gettext("book.progress.listened") }}
</template>
<template class="book-progress" data-source="text">
    {{ gettext("book.progress.read") }}
</template>
<template class="book-mark-as-new">
    {{ gettext("book.status.mark_as_new") }}
</template>
<template class="book-mark-as-completed">
    {{ gettext("book.status.mark_as_completed") }}
</template>
<template id="chapter-template">
    <div
        class="chapter"
        data-index=""
        onclick="selectChapter(this)"
        onmousedown="bookChapterOnmousedown(event, this)"
        onmousemove="bookChapterOnmousemove(event, this)"
        onmouseup="bookChapterOnmouseup(event, this)"
        onmouseout="bookChapterOnmouseup(event, this)"
    >
        <span class="title"></span>
        <span class="time">
            <span class="cur-time">00:00</span> /
            <span class="total-time"></span>
        </span>
    </div>
</template>
