<link rel="stylesheet" href="{{url_for('static', filename='css/book.css')}}" />
<script defer src="{{ url_for('static', filename='js/book.js') }}"></script>

<div id="book-page-content">
    <div id="book-loading"></div>

    <div id="book-header">
        <div>
            <div class="book-title"></div>
            <div class="book-state">
                <div class="book-status"></div>
                <div
                    class="book-state-btn"
                    onclick="showBookStateAction()"
                ></div>
                <div class="book-state-action"></div>
                <div class="book-adding-date">
                    {{ gettext("book.added") }} <span class="content"></span>
                </div>
            </div>
        </div>
        <div class="book-actions">
            <div
                class="icon-btn open-in-browser hidden-text-button"
                onclick="window.open(this.dataset.url, '_blank')"
            >
                <span>открыть в браузере</span>
            </div>
            <div class="icon-btn search-series hidden-text-button">
                <span>перейти к циклу</span>
            </div>
            <div class="icon-btn open-book-dir hidden-text-button">
                <span>показать файлы</span>
            </div>
            <div class="icon-btn toggle-favorite-btn"></div>
        </div>
    </div>
    <div id="book-main">
        <div class="book-preview"></div>
        <div id="sources" class="book-main-content">
            <div id="audio-sources">
                <div class="sources-container-title">
                    {{ gettext("book.audio_sources") }}
                </div>
                <div class="sources-container"></div>
            </div>
            <div id="text-sources">
                <div class="sources-container-title">
                    {{ gettext("book.text_sources") }}
                </div>
                <div class="sources-container"></div>
            </div>
        </div>
        <div id="player" class="book-main-content">
            <audio id="audio-player"></audio>
            <div id="player-controls">
                <div class="button-group">
                    <div
                        class="iconned-btn button angle-left-button"
                        onclick="rewind()"
                    >
                        <span>15 {{ gettext("s") }}</span>
                    </div>
                    <div
                        id="toggle-playback-btn"
                        class="iconned-btn button play-button"
                        onclick="togglePlayback()"
                    ></div>
                    <div
                        class="iconned-btn right button angle-right-button"
                        onclick="forward()"
                    >
                        <span>15 {{ gettext("s") }}</span>
                    </div>
                </div>
                <div id="chapters-container"></div>
            </div>
        </div>
    </div>
    <div id="book-info">
        <div class="tags-container">
            <div class="book-author"></div>
            <div class="book-reader"></div>
            <div class="book-duration"></div>
            <div class="book-series"></div>
            <div class="book-driver"></div>
        </div>
    </div>
    <div class="book-description"></div>
</div>

<template id="source-card-template">
    <div class="source-card">
        <div>
            <div class="source-title"></div>
            <div class="source-info tags-container">
                <div class="source-domain driver"></div>
                <div class="source-duration book-duration"></div>
                <div class="source-status book-status"></div>
            </div>
        </div>
        <div class="icon-btn open-in-browser"></div>
    </div>
</template>
<template class="book-status" data-status="new"
    >{{ gettext("book.status.new") }}
</template>
<template class="book-status" data-status="in-progress"
    >{{ gettext("book.status.in_progress") }}
</template>
<template class="book-status" data-status="completed"
    >{{ gettext("book.status.completed") }}
</template>
<template class="book-mark-as-new"
    >{{ gettext("book.status.mark_as_new") }}
</template>
<template class="book-mark-as-completed"
    >{{ gettext("book.status.mark_as_completed") }}
</template>
<template id="chapter-template">
    <div
        class="chapter"
        data-index=""
        onclick="selectChapter(this)"
        onmousedown="bookItemOnmousedown(event, this)"
        onmousemove="bookItemOnmousemove(event, this)"
        onmouseup="bookItemOnmouseup(event, this)"
        onmouseout="bookItemOnmouseup(event, this)"
    >
        <span class="title"></span>
        <span class="time">
            <span class="cur-time">00:00</span> /
            <span class="total-time"></span>
        </span>
    </div>
</template>
