<link
    rel="stylesheet"
    href="{{url_for('static', filename='css/library.css')}}"
/>
<script defer src="{{ url_for('static', filename='js/library.js') }}"></script>

<div id="library-page-content">
    <div id="library">
        <div id="library-title"></div>
        <div
            id="library-container"
            onscrollend="onLibraryScrollEnd(this)"
        ></div>
    </div>
</div>

<template id="library-title-template"> {{ gettext("library") }} </template>
<template id="library-favorites-title-template">
    {{ gettext("library.favorite") }}
</template>
<template id="book-card-template">
    <div class="book-card" data-bid="" onclick="openBookPage(this)">
        <div class="cover"></div>
        <div class="content">
            <div class="main-info-container">
                <div class="main-info">
                    <div class="book-title"></div>
                    <div class="tags-container">
                        <div class="tag adding-date">
                            {{ gettext("book.added") }}
                            <span class="content"></span>
                        </div>
                    </div>
                </div>
                <div class="book-actions">
                    <div
                        class="icon-btn toggle-favorite"
                        onclick="toggleFavorite(this)"
                    ></div>
                    <div
                        class="icon-btn remove"
                        onclick="removeBook(this)"
                    ></div>
                </div>
            </div>
            <div class="book-description short"></div>
            <div class="tags-container">
                <div class="tag text-sources-count"></div>
                <div class="tag audio-sources-count"></div>
                <div class="tag author"></div>
                <div class="tag series"></div>
            </div>
        </div>
    </div>
</template>
<template id="book-removed-notification">
    {{ gettext("book") }}
    <b>«<span class="book-title"></span>»</b>
    <span>{{ gettext("book.deleted_from_library") }}</span>
    <span class="files-already-exists">
        {{ gettext("book.deleted_but_files_already_exists") }}
        <span
            style="margin-top: 2px; text-decoration: underline; cursor: pointer"
            onclick="
                deleteBook(this.dataset.bid);
                closeNotification(this.closest('.notification'));
            "
        >
            {{ gettext("book.delete_files") }}
        </span>
    </span>
</template>
